html{
    font-family: 'Roboto', sans-serif;
}
.header {
    font-weight: 100;
    font-size: 11em;
    display: block;
    text-align: center;
}
.body {
    width: 800px;
    margin: 0 auto;
}
.desc {
    font-size: 1.5em;
}
.bagong {
    position: relative;
    animation-name:bagong;
    animation-duration: .1s;
    animation-iteration-count:infinite;
}
.mbagongkan {
    font-weight: 900;
    font-size: 3em;
    color: #AE431E;
}

@keyframes bagong {
    0%   {left:0px; top:0px;}
    25%  {left:5px; top:0px;}
    50%  {left:5px; top:5px;}
    75%  {left:0px; top:5px;}
    100% {left:0px; top:0px;}
}